[submodule "inuit-defaults"]
	path = inuit-defaults
	url = https://github.com/inuitcss/settings.defaults.git
[submodule "inuit-functions"]
	path = inuit-functions
	url = https://github.com/inuitcss/tools.functions.git
[submodule "inuit-mixins"]
	path = inuit-mixins
	url = https://github.com/inuitcss/tools.mixins.git
[submodule "inuit-box-sizing"]
	path = inuit-box-sizing
	url = https://github.com/inuitcss/generic.box-sizing.git
[submodule "inuit-normalize"]
	path = inuit-normalize
	url = https://github.com/inuitcss/generic.normalize.git
[submodule "inuit-page"]
	path = inuit-page
	url = https://github.com/inuitcss/base.page.git
[submodule "inuit-spacing"]
	path = inuit-spacing
	url = https://github.com/inuitcss/trumps.spacing.git
[submodule "inuit-print"]
	path = inuit-print
	url = https://github.com/inuitcss/trumps.print.git
[submodule "inuit-tools-widths"]
	path = inuit-tools-widths
	url = https://github.com/inuitcss/tools.widths.git
[submodule "inuit-pack"]
	path = inuit-pack
	url = https://github.com/inuitcss/objects.pack.git
[submodule "inuit-spacing-responsive"]
	path = inuit-spacing-responsive
	url = https://github.com/inuitcss/trumps.spacing-responsive.git
[submodule "inuit-list-ui"]
	path = inuit-list-ui
	url = https://github.com/inuitcss/objects.list-ui.git
[submodule "inuit-tables"]
	path = inuit-tables
	url = https://github.com/inuitcss/objects.tables.git
[submodule "inuit-widths-responsive"]
	path = inuit-widths-responsive
	url = https://github.com/inuitcss/trumps.widths-responsive.git
[submodule "inuit-reset"]
	path = inuit-reset
	url = https://github.com/inuitcss/generic.reset.git
[submodule "inuit-responsive-tools"]
	path = inuit-responsive-tools
	url = https://github.com/inuitcss/tools.responsive.git
[submodule "inuit-paragraphs"]
	path = inuit-paragraphs
	url = https://github.com/inuitcss/base.paragraphs.git
[submodule "inuit-media"]
	path = inuit-media
	url = https://github.com/inuitcss/objects.media.git
[submodule "inuit-tabs"]
	path = inuit-tabs
	url = https://github.com/inuitcss/objects.tabs.git
[submodule "inuit-flag"]
	path = inuit-flag
	url = https://github.com/inuitcss/objects.flag.git
[submodule "inuit-box"]
	path = inuit-box
	url = https://github.com/inuitcss/objects.box.git
[submodule "inuit-buttons"]
	path = inuit-buttons
	url = https://github.com/inuitcss/objects.buttons.git
[submodule "inuit-list-block"]
	path = inuit-list-block
	url = https://github.com/inuitcss/objects.list-block.git
[submodule "inuit-list-inline"]
	path = inuit-list-inline
	url = https://github.com/inuitcss/objects.list-inline.git
[submodule "inuit-block"]
	path = inuit-block
	url = https://github.com/inuitcss/objects.block.git
[submodule "inuit-layout"]
	path = inuit-layout
	url = https://github.com/inuitcss/objects.layout.git
[submodule "inuit-list-bare"]
	path = inuit-list-bare
	url = https://github.com/inuitcss/objects.list-bare.git
[submodule "inuit-clearfix"]
	path = inuit-clearfix
	url = https://github.com/inuitcss/trumps.clearfix.git
[submodule "inuit-headings-trumps"]
	path = inuit-headings-trumps
	url = https://github.com/inuitcss/trumps.headings.git
[submodule "inuit-widths"]
	path = inuit-widths
	url = https://github.com/inuitcss/trumps.widths.git
[submodule "inuit-responsive-settings"]
	path = inuit-responsive-settings
	url = https://github.com/inuitcss/settings.responsive.git
[submodule "inuit-headings"]
	path = inuit-headings
	url = https://github.com/inuitcss/base.headings.git
[submodule "inuit-shared"]
	path = inuit-shared
	url = https://github.com/inuitcss/generic.shared.git
[submodule "inuit-lists"]
	path = inuit-lists
	url = https://github.com/inuitcss/base.lists.git
[submodule "inuit-images"]
	path = inuit-images
	url = https://github.com/inuitcss/base.images.git
